body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: darkblue;
    color: white
}

a{
    color: white; /*change default blue link to white*/
    text-decoration: none; 
    /*remove default underline for links*/
}

section{
    height: 100vh; /*set the height relative to the browser*/
    /*vh means viewport height
    viewport - the area of the window in which web content can be seen in the browser
    100vh - means full height of browser window
    50vh - means half the height

    vw - viewport width
    */
    background-image: url(https://johnamata.com/photos/2018-cashless-beijing.jpg);
    background-size: cover; 
    /*cover: to cover the full width/height of this given section without skew or repeating */
}

header{
    /*got a new selector for header cos i got to put it on top of photos*/
    position: fixed; /*fixes element to browser viewport, by default in HTML things start in top left element, so we got to change it with top/left:*/
    top: 20px;
    left: 20px;
}

footer{
    position: fixed;
    bottom: 20px;
    left: 20px;
}