body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: darkblue;
    color: white
}

a{
    color: white; /*change default blue link to white*/
    text-decoration: none; 
    /*remove default underline for links*/
}

section{
    height: 100vh; /*set the height relative to the browser*/
    /*vh means viewport height
    viewport - the area of the window in which web content can be seen in the browser
    100vh - means full height of browser window
    50vh - means half the height

    vw - viewport width
    */
    background-image: url(https://johnamata.com/photos/2018-cashless-beijing.jpg);
    background-size: cover; 
    /*cover: to cover the full width/height of this given section without skew or repeating */
    background-attachment: fixed; 
    /*for cool reveal effect or maybe it's more apt to say parallax effect. basically fixes the picture to the viewport rather than the stacks of sections (? - not sure if right word, i need to learn more the internals of HTML/CSS)*/
}

header{
    /*got a new selector for header cos i got to put it on top of photos*/
    position: fixed; /*fixes element to browser viewport, by default in HTML things start in top left element, so we got to change it with top/left:*/
    top: 20px;
    left: 20px;
}

footer{
    position: fixed;
    bottom: 20px;
    left: 20px;
}

h1{
    margin-bottom: 5px; /*small enough space for h1 and <p>*/
}

footer a{
    /*just for anchor tags inside footer*/
    margin-right: 5px;
    font-weight: 900;
}

a:hover{
    /*pseudo class selector
    https://www.w3schools.com/css/css_pseudo_classes.asp
    selector for me to change color of hovered links/anchors
    */
    color: rgb(197, 141, 29)
}

.image_02{
    background-image: url(https://lh3.googleusercontent.com/mK9P9p9s2tjhwOlg_BdLsv9IU8-l70P8MVlbPPzJ9BvvW63bYW4R7-N04P54GcIMvY-5epBPHNGNqLBlpAmBRxGvSGz6C7T82c-ubW-Mwuf-5G4mYMEeSt_6T1_Ly4ht6rqBJ2tiGY1cYX0zCLbTuqCIw9jiwd1F7qdkXZYhgvJv4ULzyPzxv5BwqEczjbpxjmIK6nSRdlP_PiuxWy_xB-DbOarNtvDg1wk1J_xUilAEM8AXQ0mDZT6a8hr1DeVHJh4eoYGCsQzpF6adcPzBou0Aim8vaWjO3EzW_UesK9chJ6QH8yIrPGJhDUEFm1KeMcEqD4nzP9q3jSLtYJ_E5WBTGCHELr_OgIof3-mmQdO3gasS-tQc7tIAqTOv1XeFh48UFm8j8yvayCqvTGOM78q3jWQ_DkLhlmtsFhsTPyE9JL7Gv0R9TSpko3y9ikbCnF1Hi4LxVI7wIflfaK8alh7G5fnQNHY9zzm3NRzTyDUmbtRngmsIveiOOdnmjFVPiYSeDlh3MQWLr9KtXJ6FiJPyt7nHoFaJGPpKOgJR6mMgU5m5hrKNBYLilcOggz3TPx28i5nkLNvt7YogglIovsKv3kz30pqJVR-_zmXJ3hUqG4RLdWgjL2tPQBA36SziVQCGTufaQUdvVEGuOT7g1v5yJDEpPz4uNbJE9t9GdJT0v47wc_YkW34_mzvXt0VB0byDr0MOQdBncb3RfzRo3LjnqEc1vByygmd7G77RxQwetpEWSnjJK66JNN9HwX3PzmEeMiqGBKrmvuucgtePGfmFMNuCK66c0jhihIVQhGcdpRZT50AjhvpFiE3VXJ7xHaQ4CSjh8ZR6YZ6RA5yL61qoOeODxAD7BgG_n8bmNNF-GQiQSnB2LUx2x9JH4ijAk5ffZXFwswGVMIOCj-LtxxqRpkAkenRj_BI03YbSMj9YqqZtFxIT7Sf0mFMJAGHJCjZ58KcsAXrL3HsnJPsioFZb6IcvfRRc-2AaRfejLQUwr_v-x2AjRzmkxGK11bcr9rF1mJNR7acj2hVUG3YYL5wpe8gP=w2048-h1536-no?authuser=1);
}

.image_03{
    background-image: url(https://lh3.googleusercontent.com/D8Ky1Lt6jgKvA3PHqRc4bJLMYlJN_wlG_UGSxARBhjpObPZJ9P-eoo1MunQsqPP7ow6YtKv8buSnHVsxPG8i4DgLONkz8xsxmvuEHm6HjOCgHb84KCp-Wxl8iANKG5oHMLzEC7Z-iI2KOZPohcSpgBr6O1oVcVWwnb9iDFKOY8khf3HQkvl4GpI0Jr9UONHy1SnzJq2U6Z1twWZDe3ofldiTxcvtCMOHi5T_gN3jygmbL0crSeR7plz1UdfOlVGJiOfQEWWNloaluk_AyFxjTW58yJP3w7-aJ-H8Kwq-NPiwnGxchtzVvaJUetBWjO6yBVIrjxb5HA5_scvzQFFrWXqncgRzRDG_V7QBEfyny18iYm9yOeEoTqW2FjvF7zerIuppS4EgEGAzWRgWmzbgcqHxbYFtiUYHZRsKDsYafVyUo32N3UeM8PXsw4rxYrqn-nzHtwKBGNiS0J6O1jLJCxAJxPWK8hMg253jSht2CdE_-831INSLwLCD4G1IXh4v3wSkgbrY9qanFLt4WgNaTFdRJoZG23UMLXp9x9uYnXnyKF_cz4vpvkF_sxeD2b_3e559rcHoCub35bMdw7ihW6PH9gvEguTAweMQOV9P_t80HxYQf4yj2FYkaMJqYxTwMhhoVQFnKdP7LsoGT-EcLKM97XYIUNWgWGE6tkWd4V76LY1EjC16ZG2W1nJvEoN2xuHwXou5xe_xBGi6vyoEe2lSaeq9vS5q5r5l2IWclX6mc_5lhfxUjIJ9kkH96U8oeYb56xmhTmMKbdE9f_TGnDy9lu4f0YLxHfZIc3eQTZAH6St-HX0_2s6RC52C1dnV5ctIlNCBWXYZH1iSDWU1Qf5q5IkxHAa1vGMUAQiN8Bo_DboUrSO4ZQlYcdZUz4RgBqRde1y77JEWVwLDu3GeWDN6icNFm2W9aBNYPyPwA70gvly5aiWFiMW_J99wPs_UTCSDFSw0sErzRfavXUdFuVlQVpvDvJ_808_KWOlgnoI7QcPpIER52tWy0CcGmyWnDxrA-myPxHvaeh-7rUCkNedbDF8=w2048-h1536-no?authuser=1);
}

.image_04{
    background-image: url(https://lh3.googleusercontent.com/fJYY4gSfDkCC5l3ctRD3qIW3EzWD-WeBm_wGFj-cDdMwLA8VaMKXjiSRlIC9fkcbN24KUtuQTL2rCOfFBxiI5gvXVrPhsUOQ-aHdgL283uP4iHPj_Jh4sNIclaGivYv8zv6Xw73yJTP-DZ0BKD5rVE1XaB1b6jq9FjJPN8VrtI-S5bpjg2vhe97Il2wqjkmI1tSzLhl2qrTaFoRvdOhTV0svNXckc2-iG1w-Gcb1ZlL7lPbnltxUDlfzsCmNIo0HSSsWFD4QjEhw3jPs5I6LagXnttagAGyKRiaVWMruSThLAQLXuKcKAxWbKy6b5DC-OEl9TuiELV5xnmjCQA-qc-jg7DHE3xvAtjtfS9vsfLBWaeQio84uZbnADHj6FQ7TBc8mQl7scar5o3JoE3nk-_Q1gZxOv8Gmd6sp2IKqMtAnw7FURs_lJOpYGeNkxcA_hZI3VkXq221C2zeiuBYUElGOjkejefqsdLbRRxS-_CJH52QOfMSNIiNKr7Wa4KIYdnMibOVRMU_Y-Mw0hT0RPX2P-hdZMX_TpGRVAeQLJM6cDYoOmbw77h-Ofc3FsPpvZZB0nGyHmdQfjZrw6CQPvlywix6k-kmYCD-M1CAFPIgfXwhNT7rkJl25GHlAG1LU8d2EKAJDPgGGpbhgApwoGs-9YgOyJ8D8b0Z72F6ajxPvhjmmqBHWGshZNqR56w_fIqilT9KHus0QW0addK1TBaRPzCmnn0CtCzd7VrYFnDWl_0kjckj96ZUIEWZvFxBYSbAOKD0SiH0CxKm_B8mSRXBtuCNV8n8ydjStts4oP7bBgf0z7XWLbgmY_WPnRhZ_HcCeCxVFHAOx3lt-aTgTI5ZsgVp5jcOpcrs2wfubEt_WcuEz_txFjLrwFu-3ohEFwfnJsn0LQuYIgvwbzDEfes8ku9P60fdfFWG7mHMDVLgGGfvW63T8xmq8o3q0YCBatlxwn3jlhgAGNd3aGvI2WqaBMK4Js-xVHgTuBtFDwjE1qDavSdYKL8B6LySY8U9NXQDJ7XcFGUBWj8gqptOhMRS5AqQ=w2048-h1536-no?authuser=1)
}